<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_ID</key>
	<string>${APP_ID}</string>
	<key>TUNNEL_BUNDLE_SUFFIX_XRAY</key>
	<string>${TUNNEL_BUNDLE_SUFFIX_XRAY}</string>
</dict>
</plist>
